.banner_container {
  display: flex;
  background-color: rgb(78, 84, 82);
  align-items: center;
  margin-top: 0.8rem;
  height: 30%;
  border-radius: 10px;
  background-image: url('/Images/albumGrid.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: kenburns-top 10s linear infinite alternate;
  margin-bottom: 1rem;
}

.banner_front {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 100%;
  border-radius: 10px;
  min-width: auto;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1) 14%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 0) 60%
  );
}

@keyframes kenburns-top {
  0% {
    background-position: 10% 20%;
  }
  100% {
    background-position: 100% 0;
  }
}

.banner_content {
  margin-left: 1rem;
}

@media screen and (max-width: 900px) {
  .banner_front > span {
    display: none !important;
  }
  .banner_front {
    background: linear-gradient(
      40deg,
      rgba(2, 0, 36, 1) 14%,
      rgba(9, 9, 121, 1) 60%,
      rgba(0, 212, 255, 0) 90%
    );
  }
  .banner_container {
    height: 20%;
  }
}
