.inputs {
  font-size: 3rem;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.form_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.no_hide {
  display: flex;
}

.hide {
  display: none;
}
