.inputs {
  font-size: 3rem;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.form_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.no_hide {
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.hide {
  display: none;
}

@media only screen and (max-width: 500px) {
  .inputs {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 400px) {
  .inputs {
    font-size: 1.5rem;
  }
}
