.searchbar {
  font-size: 14px;
  color: #fff;
  display: flex;
  z-index: 3;
  height: 44px;
  background: var(--lightGrey);
  border: 1px solid var(--black);
  box-shadow: none;
  border-radius: 24px;
  margin: 0.5rem auto;
  width: 20rem;
  max-width: 25rem;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  cursor: pointer;
}

.searchbar_wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar_left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search_icon_wrapper {
  margin: auto;
}

.search_icon {
  margin-top: 3px;
  color: #fff;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar_icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar_center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar_input_spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar_input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #fff;
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  font-style: italic;
  max-width: 100%;
  width: 100%;
}

.searchbar_input::placeholder {
  color: var(--lighthest_blue);
  opacity: 1;
}

.searchbar_clear_icon {
  margin-right: 12px;
}

.voice_search {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 2.8em;
}

@media (max-width: 700px) {
  .searchbar {
    width: 13rem;
    height: 2rem;
  }

  .searchbar_wrapper{
    padding:  5px 4px 0 10px;
  }

  .searchbar_input{
    font-size: 12px;
  }

  .searchbar_left{
    font-size: 10px;
    padding-right: 4px;
  }
}

@media (max-width: 550px) {

  .searchbar {
    width: 11rem;
  }

  .searchbar_left {
    display: none;
  }
}
