.container {
  position: relative;
  height: 100%;
}

.main {
  display: flex;
  margin-left: 4rem;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  overflow-y: scroll;
}
