.container {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
}

.image_container {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem 0.1rem var(--black);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--black);
}

.image_container > img {
  position: relative;
}

.image_container > label {
  position: absolute;
  width: 15rem;
  height: 15rem;
}

.input {
  display: none;
}

.input_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image_container > svg {
  width: 100%;
  height: 6rem;
  color: var(--darker_blue);
}

.input_label > svg {
  width: 100%;
  height: 6rem;
  color: var(--darker_blue);
}

.edit_icon {
  display: block;
  background-color: var(--black);
  border-radius: 50%;
  padding: 1rem;
  width: 6rem !important;
}

.playlist_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
