.configuration_container {
  margin-left: 6rem;
}

.image_container {
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
  margin-bottom: 2rem;

  width: fit-content;
}

.change_button {
  background: #1bb16b;
  color: black;
}
.change_button:hover {
  background: #1bb16b;
  color: black;
}

.config_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  width: 60%;
  height: 44px;
  background-color: #05060f0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  color: white;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #05060f99;
  color: white;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #b9b9bb;
}

.upload_button {
  color: white;
  border: 1px solid white;
}
.upload_button:hover {
  background: #1bb16b;
  color: black;
  border: 1px solid white;
}
