.box {
  margin-left: 6rem;
  margin-bottom: 2rem;
  width: 10rem;
  height: 12rem;

  display: flex;
  justify-content: center;
  /* padding: 0.5rem; */
  background-image: url('/Images/likeTracks.png');
  background-size: cover;
  border-radius: 5px;
}

.content {
  width: 10rem;
  height: 12rem;
  border: 2px solid rgb(48, 157, 23);
  background-color: burlywood;
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
}

.selected_genre {
  box-shadow: 0 15px 16px 0 rgba(103, 141, 32, 0.37);
  border: 2px solid rgba(103, 141, 32, 0.37);
}
