.container {
  margin-bottom: 3rem;
  margin-left: 6rem;
}

.title {
  margin-top: 2rem;
}

/* From uiverse.io by @satyamchaudharydev */
/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #283542;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 23rem;
  position: relative;
  isolation: isolate;
  height: 2.5rem;
  margin-left: 0.1rem;
}
/* a fancy bg for showing background and border when focus. */
.fancy_bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--grey);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: var(--black) 0px 1px 4px;
}
/* label styling */
.label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: 1.2em;
  display: flex;
  align-items: center;
}

.search,
.close_btn {
  position: absolute;
}
/* styling search-icon */
.search {
  fill: var(--darker_blue);
  left: 1.2em;
}
/* svg -- size */
.search > svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close_btn {
  border: none;
  right: 1.2em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--darker_blue);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: #fff;
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color);
}

.input:focus::placeholder {
  color: white;
}
/* input background change in focus */
.input:focus ~ .fancy_bg {
  border: 1px solid var(--darker_blue);
  background: var(--lightGrey);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--darker_blue);
}
/* showing close button when typing */
.input:valid ~ .close_btn {
  opacity: 1;
  visibility: visible;
}
