.icons {
  display: flex;
  flex-grow: 0.09;
  justify-content: space-evenly;
  align-items: center;
}

.notification {
  margin: 0.1rem 0.5rem 0 1rem;
}

.profileButtons {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 1000ms;
  /* border-bottom: 1px solid #ccc; */
}

.profileButtons > svg {
  color: white;
}

.profileButtons:hover:nth-child(2) > svg {
  color: red;
}

.profileButtons:hover:nth-child(1) > svg {
  color: var(--darker_blue);
}

.profileButtons:hover {
  transform: translateX(10px);
  /* border-bottom: transparent; */
}
