.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  max-height: min-content;
}

.image_container {
  margin: 1rem;
}

.song_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song_container > span {
  display: block;
  width: min-content;
}

.song_container > span:first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

.rotate {
  animation: moving 5s linear alternate infinite;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.menu_title{
  padding: 0rem 2rem;
}

@keyframes moving {
  from {
    transform: translateX(15px);
  }

  to {
    transform: translateX(-120px);
  }
}

@media (max-width: 1224px) {
  .wrapper {
    width: 60%;
  }
}

@media (max-width: 790px) {
  .wrapper {
    justify-content: start;
    width: 80%;
  }

  .icons {
    display: none;
  }

}

@media (max-width: 735px) {
  .wrapper {
    justify-content: start;
    width: 85%;
  }
}
