.home_container {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  height: 80vh;

  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.greetings {
  align-self: flex-start;
}

.back_container{
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  --primary-color: rgb(235, 228, 228);
  --hovered-color: #695ee4;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  margin-top: 2.5rem;
  width: fit-content;
}

.back_container p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}
.back_container p:hover {
  color: var(--hovered-color);
}

.back_container::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ;
  color: #695ee4;
}

.back_container p::before {
  position: absolute;
  box-sizing: border-box;
  /* content: 'Explore'; */
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.back_container:hover::after {
  width: 7.5rem;
  color: #695ee4;
}

.back_container:hover p::before {
  width: 7.5rem;
}

.back_container:hover svg {
  transform: translateX(-4px);
  color: var(--hovered-color);
  color: #695ee4;
}

.back_container svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 25px;
  transition-delay: 0.2s;
}
