.home_container {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  height: 80vh;

  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.greetings {
  align-self: flex-start;
}
