.container {
  display: flex;
  background-color: var(--black);
  border: none;
  width: 100%;
  max-height: fit-content;
}

.player {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f14f;
  z-index: 1000;
}

