.carousel__songs {
  width: 100% !important;
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
}

.songDiv {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.3rem;
  background-color: var(--darker_black);
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.songDiv:first-child {
  margin-left: .5rem;
}

.songDiv:last-child {
  margin-right: .5rem;
}

.imgSongDiv {
  width: 11rem;
  display: flex;
  justify-content: center;
}

.playButton {
  color: var(--darker_blue);
  background-color: transparent;
  border: none;
  position: relative;
  transition: all 300ms;
  top: -50px;
  z-index: -1;
}

.playButton:hover {
  color: var(--lightest_blue);
}

.songDiv:hover .playButton {
  top: 0px;
  z-index: 0;
}

