/* From uiverse.io by @hannahyockel */
.tooltip > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 1.25em;
  transition: all 0.2s linear;
}

/* .tooltip > button:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
} */

.tooltip {
  position: relative;
  display: block;
  align-self: flex-start;
  /* margin-bottom: 2rem;
  margin-left: 5.6rem;
  width: 3rem; */
  background-color: transparent;
  border: none;
}

.tooltip > svg {
  cursor: pointer;
  background-color: var(--black);
  border-radius: 50%;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 6rem;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
