/* From uiverse.io by @hannahyockel */
.tooltip > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 1.25em;
  transition: all 0.2s linear;
}


.tooltip {
  position: relative;
  display: block;
  align-self: flex-start;
  background-color: transparent;
  border: none;
}

.tooltip > svg {
  cursor: pointer;
  background-color: var(--black);
  border-radius: 50%;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 6rem;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
