.row_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.horizontal_scroll {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
  /* height: 320px; */
  height: auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 0.5rem;
}

.item {
  align-items: center;
  background-color: red;
  color: white;
  border: 1px solid black;
  display: flex;
  flex: 0 0 320px;
  font-size: 40px;
  justify-content: center;
  /* scroll-snap-align: start; */
}
