html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--grey);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --grey: #353941;
  --lightGrey: #585c63;
  --black: #26282b;
  --darker_blue: #5f85db;
  --lighthest_blue: #90b8f8;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Sidebar */
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--black);
  border: none;
  position: static;
}

/*Player */
.rhap_container {
  background-color: var(--black) !important;
  /* width: 100%;
  height: 100%; */
}

.rhap_main-controls-button,
.rhap_button-clear,
.rhap_time {
  color: rgb(231, 231, 231) !important;
}

.rhap_volume-bar,
.rhap_volume-indicator,
.rhap_progress-filled,
.rhap_progress-indicator {
  background-color: rgb(231, 231, 231) !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: rgb(31, 41, 55);
  }
} */
