.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 100;
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
