.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 100;
}

.indexMain {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.logIn_signUp_Div {
  height: 18rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: rgb(250, 250, 250);
  color: black;
  border-radius: 0.5rem;
}

.separator {
  width: 97%;
  border: 1px solid var(--grey);
}

.googleLogin {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--ligthest_blue);
  padding: 0.5rem;
  border-radius: 3rem;
}

.signUpSection {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.colorLink {
  color: var(--darker_blue);
}

.mobileImg > span {
  border-radius: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
