.tracks_list {
  /* height: 70%; */
  margin-right: 2rem;
  overflow: hidden;
  overflow-y: auto;
}

.track_list_row {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  border-bottom: 2px solid #acacac;
}
.track_list_row:hover {
  /* cursor: pointer; */
  background: #d5c8c8;
  color: #4e4949;
}

.track_info {
  display: flex;
  gap: 1rem;
  width: 80%;
  margin-left: 1rem;
}
.buttons_container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.track_list_header {
  display: flex;
  border: 2px solid #acacac;
  padding-left: 0.7rem;
  align-items: center;
  gap: 0.7rem;
  background: #acacac;
  color: #4e4949;
  border-radius: 5px;
}
.track_name {
  font-weight: 600;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.track_name::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4e4949;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.track_name:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.drag_icon:hover {
  cursor: grab;
}
.drag_icon:active {
  cursor: grabbing;
}

.menu_title {
  padding: 0rem 2rem;
  color: var(--lightest_blue);
}

@media screen and (max-width: 900px) {
  .tracks_list {
    height: 90%;
  }
  .tracks_list::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 500px) {

.tracks_list {
  padding-left: 0;
  margin-right: 0;
  width: 100%;
}
}
